<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="icon.png">
    <link rel="stylesheet" href="../dist/bundle.css" />
    <title>IFC.js web viewer</title>
  </head>
  <body>
    <div class="header">
      <h1>Hello IFC.js</h1>
    </div>
    <div class="input">
      <input type="file" name="load" id="file-input" />
    </div>
    <div class="canvas">
      <canvas id="three-canvas"></canvas>
    </div>
    <script src="../dist/bundle.js"></script>
  </body>
</html>