body{
    background: linear-gradient(147deg, rgba(164, 222, 255, 0.6) 4%, rgba(255, 145, 123, 0.5) 96%);    
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header{
    text-align: center;
}

.header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-shadow: 3px 2px rgb(248, 119, 55);
    color: #ffba00;
}

.canvas {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    margin-top: 3%;
}

#file-input {
    z-index: 1;
    position: relative;
    left:52%;
    transform: translateX(-52%);
    font-size: 15px;
}
#three-canvas{
    position: relative;
    height: 100% !important;
    width: 100% !important;
    z-index: 10;

}
  